@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #0f172a;
}
